main{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 2fr;
}

.home{
	grid-template-row: 1fr;
	grid-template-column:2fr;
}

.button{
	grid-template-row: 2fr;
	grid-template-column:1fr;
	color: #2D4816;
}

.latte{
	display: grid;
	grid-template-rows: 1fr 1fr;

img{
	width:5%;
	height: 70vh;
} 
}